<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inir_ch4.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <inir_ch4.Settings1>
            <setting name="baudrate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="stopbits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="databits" serializeAs="String">
                <value>8</value>
            </setting>
        </inir_ch4.Settings1>
    </applicationSettings>
</configuration>